.flaticon-factory:before { content: "\f100"; }
.flaticon-gears:before { content: "\f101"; }
.flaticon-factory-1:before { content: "\f102"; }
.flaticon-manufacturing:before { content: "\f103"; }
.flaticon-computer:before { content: "\f104"; }
.flaticon-technology:before { content: "\f105"; }
.flaticon-mass-production:before { content: "\f106"; }
.flaticon-conveyor:before { content: "\f107"; }
.flaticon-engineer:before { content: "\f108"; }
.flaticon-idea:before { content: "\f109"; }
.flaticon-engineering:before { content: "\f10a"; }
.flaticon-mass-production-1:before { content: "\f10b"; }
.flaticon-safe:before { content: "\f10c"; }
.flaticon-factory-2:before { content: "\f10d"; }
.flaticon-worker:before { content: "\f10e"; }
.flaticon-dashboard:before { content: "\f10f"; }
.flaticon-cargo:before { content: "\f110"; }
.flaticon-manufacturing-1:before { content: "\f111"; }
.flaticon-engineer-1:before { content: "\f112"; }
.flaticon-setting:before { content: "\f113"; }
.flaticon-merchandise:before { content: "\f114"; }
.flaticon-machinery:before { content: "\f115"; }
.flaticon-monitoring:before { content: "\f116"; }
.flaticon-conveyor-1:before { content: "\f117"; }
.flaticon-machinery-1:before { content: "\f118"; }
.flaticon-machinery-2:before { content: "\f119"; }
.flaticon-truck:before { content: "\f11a"; }
.flaticon-mechanical-arm:before { content: "\f11b"; }
.flaticon-product:before { content: "\f11c"; }
.flaticon-technology-1:before { content: "\f11d"; }
.flaticon-production:before { content: "\f11e"; }
.flaticon-weight:before { content: "\f11f"; }
.flaticon-conveyor-2:before { content: "\f120"; }
.flaticon-mass-production-2:before { content: "\f121"; }
.flaticon-bar-code:before { content: "\f122"; }
.flaticon-industrial:before { content: "\f123"; }
.flaticon-mass-production-3:before { content: "\f124"; }
.flaticon-packs:before { content: "\f125"; }
.flaticon-conveyor-3:before { content: "\f126"; }
.flaticon-conveyor-4:before { content: "\f127"; }
.flaticon-engineers:before { content: "\f128"; }
.flaticon-conveyor-5:before { content: "\f129"; }
.flaticon-industry:before { content: "\f12a"; }
.flaticon-industry-1:before { content: "\f12b"; }
.flaticon-machine:before { content: "\f12c"; }
.flaticon-mass-production-4:before { content: "\f12d"; }
.flaticon-cake:before { content: "\f12e"; }
.flaticon-factory-3:before { content: "\f12f"; }
.flaticon-mass-production-5:before { content: "\f130"; }
.flaticon-process:before { content: "\f131"; }